<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
  </head>

  <body>
    <%= yield %>
	    <%= link_to 'Назад', :back, class: 'back-button' %>
    <li><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
  </body>
</html>
